
<div id="content">
	<div class="row">
		<div class="span8">
			<div class="head">

				<h2><%= article.title %></h2></br>
				<span>
				来自: <%= article.from %> | 时间: <%= article.created_at %> </br>
				原文链接: <%= article.link %> | 
				</span>
			</div>
			<div class="content">
				<%= article.content %>
			</div>
		</div>
		<div class="span4">
			ccccccccccccccccccccccccccccccccc
		</div>
	</div>
