
<div class="container-fluid">  
<div class="main-container">
<div class="top">
	<div class="left">	
		<div class="welcome">
			<div class="desc">
				<div>
			推酷是对个性化阅读的一次有趣的践行，希望能为来到这里的朋友打造独特的个人阅读空间。
			推酷目前专注于IT领域的内容推荐，会从每时每刻产生的众多的科技资讯、技术文章、产品设计等内容中， 
			利用智能算法，经过层层过滤筛选，准实时地推荐给你最感兴趣的内容。
				</div>
			</div>
		</div>	
	</div>
	<div class="right">	
		<% unless current_user %>	
		<div class="login_frm">
			
			<%= form_tag sessions_path, :class => "form-horizontal" do %>
			  
			
			  <div class="control-group" style="margin-bottom: 10px;">
				<label class="control-label" for="inputEmail">账号</label>
				<div class="controls">
				  <%= text_field_tag :username, params[:username],  placeholder: "账号"%>
				</div>
			  </div>
			  <div class="control-group" style="margin-bottom:0;">
				<label class="control-label" for="inputPassword">密码</label>
				<div class="controls">
				  <%= text_field_tag :password, params[:password],  placeholder: "密码"%>
				</div>
			  </div>
			  <div class="control-group">
				<div class="controls">
				  <label class="checkbox">
						<input type="checkbox" name="remember" value="1" checked="true"> 记住我
						<%= link_to '忘记密码?'%>
				  </label>
				  
				  <%= submit_tag '登 录', :class => 'btn btn-primary btn_login' %>
				  <%= link_to '注册新用户', :class => 'btn' %>
				</div>
			  </div>
			<% end -%>
		</div>

		<% end %>
	</div>
</div>
<div class="bottom">
	<div class="left">
		<div class="article_list">
			<h3><%= link_to '热门文章', categories_path %></h3>
			<% articles.each do |article| %>
				
				<div class="single">
					<div class="title"><%= link_to article.title, article_path(article)%></div>				
					<div class="stamp"><%= article.from %>  推荐时间:<%= article.created_at %></div>
				</div>	
			<% end %>
		</div>
	</div>
	<div class="right">	
		<div class="topics">
			<h3><%= link_to '热门主题', topics_path %></h3>
			<% topics.each do |topic| %>
			<div class="single">
				<a href="http://www.tuicool.com/topics/10000006" target="_blank">
					<img src="img/001.png" class="topic_img">	
					<div class="topic_title"><%= topic.name %></div>
				</a>
				
			</div>
			<% end %>
		</div>
	</div>
</div>
</div>
</div>