<!DOCTYPE html>
<html>
<head>
  <title>推酷 | 个性化你的阅读 - 推酷</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %>">
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
          <span class="icon-bar"></span> 
          <span class="icon-bar"></span> 
          <span class="icon-bar"></span>
		  <span class="icon-bar"></span> 
        </a> 
        <h3>
          <a href="/" class="brand">推酷<sub style="font-size:12px;">&nbsp;个性化你的阅读</sub></a>
        </h3>
		<div class="nav-collapse">
		  <ul class="nav">
		  		<li><%=  link_to '文章',categories_path %></li>
            	<li><%=  link_to '主题',topics_path %></li>
	      </ul>
          <ul class="nav pull-right">
          	<% if current_user %>
				<li >
				
                  <%= link_to current_user.username %>
          
            	</li>
            	<li>
            		<%= link_to '退出', logout_path %>
            	</li>
	        		
          	<% else %>
          		<li><%=  link_to '登陆', login_path %></li>
          	<% end %>
	      </ul>
      </div>
	  </div>
	</div>
	</div>
  <div id ="flash_container" class="noPrint">    
    <!-- <a href='#'' class='close' data-dismiss='alert'>×</a> -->
  </div>
	<% if flash[:notice]%>
		<div class="alert alert-info">
      		<%= flash[:notice] %>
		</div>
		<% end %>
<%= yield %>

<div class="footer">
  <p>
	<%= link_to '关于推酷', controller: :application, action: :about %>&nbsp;
	<%= link_to '移动版本', controller: :application, action: :mobile %>&nbsp;
	<%= link_to '意见反馈', controller: :application, action: :advice %>&nbsp;
	<%= link_to '加入我们', controller: :application, action: :join %>
  </p>
</div>

</body>
</html>